---
import { summaryText } from './contact.css';
import Layout from '../components/Layout/index.tsx';
import MessageForm from '../components/MessageForm.tsx';
import ContactsCard from '../components/ContactsCard.tsx';
const slug = '/contact';
---

<html lang="en-GB">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <script src="https://js.hcaptcha.com/1/api.js?render=explicit" async defer hoist></script>
  </head>
  <body>
    <Layout client:load {slug}>
      <h1>Contact me</h1>
      <p class={summaryText}>I would love to hear from you. Please get in touch!</p>
      <MessageForm client:load />
      <ContactsCard client:visible />
    </Layout>
  </body>
</html>
