VITE_SUPABASE_URL=https://<project-ref>.supabase.co
VITE_SUPABASE_ANON_KEY=your-supabase-anon_key
VITE_SITE_URL="http://localhost:3000"
API_COOKIE_NAME=abcdefghijklmnopqrstuvwxyz0123456
USER_COOKIE_NAME=abcdefghijklmnopqrstuvwxyz0123456
WORKER_URL="http://127.0.0.1:8787"